{% extends 'base.html' %} 
{% block content %}
<h1>About the Car App</h1>
<hr />
<p class="page-content">
  
A car sale app is a digital platform that connects buyers and sellers of vehicles. Users can create accounts to list cars for sale, complete with details such as make, model, year, price, and images. Buyers can browse available listings, filter by criteria like price and location, and contact sellers directly through the app. The app typically features secure authentication, allowing only authorized users to create, update, or delete listings. Additional features may include advanced search filters, real-time messaging, payment integration, and reviews, making the process of buying and selling cars seamless and efficien!
</p>
{% endblock %}
